{% extends "base/base_student.html" %}
{% load static %}

{% block main%}
    <form method="post" action="menu.html">
        <select id="score" name="score">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label for="comment">Оставьте свой комментарий</label>
        <input type="text" id="comment" name="comment"/>
        <button type="submit" id="comment-button"> Отправить </button>
    </form>

{% endblock%}