<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
        {% block header %}
        {% endblock %}

    </header>
    <main>
            <nav class="navbar bg-top bg-gradient text-white fixed-top border-bottom py-2" style="min-height: 60px;">
                <div class="container-fluid d-flex justify-content-between align-items-center position-relative">
                    <p class="fs-3 text-center position-absolute top-50 start-50 translate-middle mb-0">
                        {{ user.name }}
                    </p>
                    <p class="fs-3 text-center position-absolute top-50 end-0 translate-middle-y me-5">
                        Ваш счет: {{ user.student_profile.money }}
                    </p>
                    <a href="{% url 'logout' %}" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i> Выйти из аккаунта</a>
                </div>
            </nav>

            {% if messages %}
            <div class="position-fixed top-2 end-0 p-3" style="z-index: 1100;">
                {% for message in messages %}
                <div class="toast align-items-center text-white bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}  border-0 show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="3000" >
                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    {% block extra_js %}
    {% endblock %}
    <style>
    .border-color {
        border-color: #b5c6f5 !important;
    }
    .btn-outline-color {
        color: #010849;
        border-color: #2652ca;
    }
    .btn-outline-color:hover {
        background-color: #2652ca;
        color: white;
    }
	.bg-top{
		background-color: #4252e6;
	}
    .bg-inf{
        background-color: #e2f2fc;
    }
    .bg-today{
        background-color: #f4f5ffed;
    }
    
</style>
    {% block extra_css %}
    {% endblock %}
</body>
</html>