<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
        {% block header %}
        {% endblock %}

    </header>
    <main>
            <nav class="navbar bg-top bg-gradient text-white fixed-top border-bottom py-2" style="min-height: 60px;">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <!-- Левая часть: кнопки выхода -->
        <div class="d-flex">
            <a href="{% url 'logout' %}" class="btn btn-danger me-2">
                <i class="bi bi-box-arrow-right"></i> Выйти из аккаунта
            </a>
        </div>

        <p class="fs-3 text-center mb-0">{{ user.name }}</p>

        <!-- Правая часть: кнопка возврата -->
        <a href="{% url 'admin_main_page' %}" class="btn btn-outline-color btn-lg py-2 fw-bold ms-auto">
            <i class="bi bi-arrow-left me-2"></i> Вернуться на главную
        </a>
    </div>
</nav>
        {% block main %}
        {% endblock %}
    </main>
    <footer>

        {% block footer %}{% endblock %}
        
    </footer>
    <div class="pt-5">
{% block content %}
{% endblock %}</div>
    {% block extra_js %}
    {% endblock %}
    <style>
    .border-color {
        border-color: #b5c6f5 !important;
    }
    .btn-outline-color {
        color: #010849;
        border-color: #2652ca;
    }
    .btn-outline-color:hover {
        background-color: #2652ca;
        color: white;
    }
	.bg-top{
		background-color: #4252e6;
	}
</style>
    {% block extra_css %}
    {% endblock %}
</body>
</html>