<h1>Add New Dish</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <h3>Ingredients</h3>
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            {% for subform in formset %}
            <tr>
                <td>{{ subform.ingredient }}</td>
                <td>{{ subform.weight }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Save Dish</button>
</form>