{% extends "base/base_cook.html" %}
{% block content %}
<h1>Ingredient List</h1>
<a href="{% url 'ingredadd' %}">Add an ingredient</a>
<table class="table">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Title</th>
            <th>Amount (g)</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td>
                {% if ingredient.picture %}
                    <img src="{{ ingredient.picture.url }}" alt="{{ ingredient.title }}" width="80">
                {% else %}
                    No image
                {% endif %}
            </td>
            <td>{{ ingredient.title }}</td>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.cost }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <div class="text-center mt-3">
        <a href="{% url 'admin_main_page' %}" class="btn btn-outline-secondary mt-2"><i class="bi bi-arrow-left me-2"></i>Вернуться на главную</a>
    </div>
{% endblock %}