{% extends 'base/base_cook.html' %}

{% block content %}
<nav class="navbar bg-top text-white fixed-top border-bottom py-2" style="min-height: 60px;">
    <div class="container-fluid d-flex justify-content-between align-items-center position-relative">
        <p class="fs-3 text-center position-absolute top-50 start-50 translate-middle mb-0">
            {{ user.name }}
        </p>
		<a href="{% url 'logout' %}" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i> Выйти из аккаунта</a>
        
    </div>
</nav>
<div>
    {{orders}}
</div>
{% endblock %}