{% extends "base/base_main.html" %}


{% block main %}
    <form method="post" class="row g-3">
        {% csrf_token %} 
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Регистрация</h5>
                    <p class="card-text">{{ form.as_p}}</p>
                    <div class="text-center mt-3"> 
                        <button class="btn btn-primary" type="submit">Зарегистрировать</button>
                    </div>
                </div>
            </div>    
        </div>
    <form>
{% endblock %}
