{% extends 'base/base_cook.html' %}

{% block content %}

<div class="container-fluid" style="margin-top: 90px;">
    <div class="mx-5">
        <div class="card border-2 border-color border-opacity-25 shadow-sm rounded-3">
            <div class="card-header bg-top text-white py-3">
                <h3 class="mb-0"><i class="bi bi-list-check me-2"></i>Заказы на сегодня</h3>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="bg-inf">
                            <tr>
                                <th class="ps-4">Ученик</th>
                                <th>Приём пищи</th>
                                <th>Меню</th>
                                <th>Готово?</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td class="ps-4 border-bottom-color">{{ order.student }}</td>
                                <td class="border-bottom-color">{{ order.food_intake }}</td>
                                <td class="border-bottom-color">{{ order.menu }}</td>
                                <td class="border-bottom-color">
                                    {% if order.is_ready %}
                                        <span class="badge bg-success">Готово</span>
                                    {% else %}
                                        <span class="badge bg-warning text-dark">Не готово</span>
                                    {% endif %}
                                </td>
                                <td class="border-bottom-color">
                                    {% if not order.is_ready %}
                                    <form action="{% url 'mark_ready' order.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-color btn-sm">Приготовлено</button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-left: 60px;">
    <a href="{% url 'admin_main_page' %}" class="btn btn-outline-secondary mt-2"><i class="bi bi-arrow-left me-2"></i>Вернуться на главную</a>
</div>

{% endblock %}